
<html>
<head>
  <title>Example minimum receiver</title>
  <script src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
  <style>
  	.app {
  		position: absolute;
  		top: 0;
  		left: 0;
  		right: 0;
  		bottom: 0;
  		width: 100%;
  		height: 100%;
  		background: black;
  		color: white;
  	}
  		.app > .container {
  			 margin: auto;
			 position: absolute;
			 top: 0;
			 left: 0;
			 bottom: 0;
			 right: 0;
			 background: rgb(229, 54, 56);
			 width: 600px;
			 height: 300px;
  		}
  			.app > .container > h1 {
  				text-transform: uppercase;
  				text-align: center;
  				line-height: 300px;
  				font-size: 3em;
  				margin: 0;
  				padding: 0;
  			}
  </style>
</head>
<body>
	<div class="app">
		<div class="container">
			<h1 id="text">Ahoj, STRVRRR!</h1>
		</div>
	</div>
  	<video id='media' style="display:none"/>
  	<script>
		    window.mediaElement = document.getElementById('media');
		    window.mediaManager = new cast.receiver.MediaManager(window.mediaElement);
		    window.castReceiverManager = cast.receiver.CastReceiverManager.getInstance();
    		try {
    		    messageBus = window.castReceiverManager.getCastMessageBus(
    		            'urn:x-cast:com.partytube',
    		            cast.receiver.CastMessageBus.MessageType.JSON);
    		}catch(e){
    			document.getElementById('text').innerHTML = e.message;
    		}

    		window.castReceiverManager.start();

    		messageBus.onMessage = function(event) {
          var sender = event.senderId;
          var message = event.data;
          document.getElementById('text').innerHTML = message.test;
        };
	</script>
</body>
</html>
