
<html>
<head>
  <title>Example minimum receiver</title>
  <script src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
</head>
<body>
	<div class="app">
		<div class="container">
			<h1 id="text">Ahoj, STRV!</h1>
		</div>
	</div>

  	<script>
		    window.castReceiverManager = cast.receiver.CastReceiverManager.getInstance();
    		try {
    		    messageBus = window.castReceiverManager.getCastMessageBus(
    		            'urn:x-cast:com.curve-mania',
    		            cast.receiver.CastMessageBus.MessageType.JSON);
    		}catch(e){
    			document.getElementById('text').innerHTML = e.message;
    		}

    		window.castReceiverManager.start();

    		messageBus.onMessage = function(event) {

              var sender = event.senderId;
              var message = event.data;
              document.getElementById('text').innerHTML = message.test;
        };
	</script>
</body>
</html>
